@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img,
ion-icon,
button,
a {
  display: block;
}

span {
  display: inline-block;
}

img {
  max-width: 100%;
}

input {
  display: block;
  width: 100%;
  font: inherit;
  border: none;
  outline: none;
}

html {
  font-family: "Scope One", serif;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.65;
  background-color: #fff;
  color: #999999;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--background);
  border-left: 1px solid var(--primary);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid var(--background);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

.big-btn, .main .box-3 .container .row .col a, .main .box-2 .container .flex-container .left a, .main .box-1 .container .flex-container .right a, header section .inner button {
  display: inline-block;
  font-size: 1.35em;
  background-color: #3498db;
  color: #fff;
  transition: all ease-in-out 0.2s;
  border: 0;
  font-weight: 700;
  line-height: 2.85em;
  padding-inline: 1.5em;
  margin-block-start: 3em;
  border-radius: 4px;
  text-align: center;
}
.big-btn:hover, .main .box-3 .container .row .col a:hover, .main .box-2 .container .flex-container .left a:hover, .main .box-1 .container .flex-container .right a:hover, header section .inner button:hover {
  background-color: #57ade7;
}

header {
  width: 100%;
  height: 100vh;
}
header .banner {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 1.5em;
  padding-inline: 1.25em;
  position: fixed;
  background-color: transparent;
  overflow: hidden;
  height: 3.25em;
  line-height: 3.25em;
  left: 0;
  z-index: 150;
}
header nav .logo a {
  color: #3498db;
  font-size: 1.25em;
}
header nav .logo a span {
  font-weight: 300;
  color: #fff;
}
header nav .menu {
  color: #fff;
  transition: all 0.2s ease-in-out;
}
header nav .menu:hover {
  color: #3498db;
  cursor: pointer;
}
header section {
  display: flex;
  justify-content: center;
}
header section:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  opacity: 0.6;
}
header section .inner {
  width: 60%;
  position: absolute;
  z-index: 200;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header section .inner h1 {
  font-size: 4em;
  color: #fff;
}
header section .inner p {
  font-size: 1.75em;
  color: #fff;
  opacity: 0.8;
  margin-block-start: 0.5em;
  line-height: 80%;
}
.main .box-1 {
  padding-block: 5em;
  background-color: #fafafa;
}
.main .box-1 .container {
  width: 80%;
  margin-inline: auto;
  position: relative;
  z-index: 250;
}
.main .box-1 .container .flex-container {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
}
.main .box-1 .container .flex-container .left {
  flex-basis: 30%;
}
.main .box-1 .container .flex-container .left .rounded {
  border-radius: 100%;
  border: 0;
  display: inline-block;
  position: relative;
  box-shadow: 0px 0px 0px 7px #fff, 0px 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.main .box-1 .container .flex-container .left .rounded img {
  border-radius: 100%;
}
.main .box-1 .container .flex-container .right {
  flex-basis: 60%;
}
.main .box-1 .container .flex-container .right .box-desc-title {
  color: #000;
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.5;
  margin-block-end: 1em;
}
.main .box-1 .container .flex-container .right .box-desc {
  margin-block-end: 2em;
}
.main .box-1 .container .flex-container .right a {
  font-size: 1rem;
}
.main .box-2 {
  padding-block: 5em;
  background-color: #3498db;
  color: #999999;
}
.main .box-2 .container {
  width: 80%;
  margin-inline: auto;
  position: relative;
  z-index: 250;
}
.main .box-2 .container .flex-container {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
}
.main .box-2 .container .flex-container .left {
  flex-basis: 60%;
}
.main .box-2 .container .flex-container .left .box-desc-title {
  color: #fff;
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.5;
  margin-block-end: 1em;
}
.main .box-2 .container .flex-container .left .box-desc {
  margin-block-end: 2em;
  color: #aed6f1;
}
.main .box-2 .container .flex-container .left a {
  font-size: 1rem;
  background-color: #fff;
  color: #3498db;
}
.main .box-2 .container .flex-container .left a:hover {
  outline: 1px solid #fff;
  background-color: #3498db;
  color: #fff;
}
.main .box-2 .container .flex-container .right {
  flex-basis: 30%;
}
.main .box-2 .container .flex-container .right .rounded {
  border-radius: 100%;
  border: 0;
  display: inline-block;
  position: relative;
  box-shadow: 0px 0px 0px 7px #3498db, 0px 0px 0px 8px rgba(255, 255, 255, 0.25);
}
.main .box-2 .container .flex-container .right .rounded img {
  border-radius: 100%;
}
.main .box-3 {
  padding-block: 5em;
  background-color: #fafafa;
  color: #999999;
}
.main .box-3 .container {
  width: 80%;
  margin-inline: auto;
  position: relative;
  z-index: 250;
}
.main .box-3 .container .text-center, .main .box-3 .container .row .col {
  margin-block-end: 4em;
  text-align: center;
}
.main .box-3 .container .text-center h2, .main .box-3 .container .row .col h2 {
  font-size: 2.5em;
  color: #000;
}
.main .box-3 .container .text-center p, .main .box-3 .container .row .col p {
  margin-block-start: 1em;
  font-size: 1.25em;
}
.main .box-3 .container .row {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
}
.main .box-3 .container .row .col {
  flex-basis: 30%;
}
.main .box-3 .container .row .col .rounded {
  border-radius: 100%;
  border: 0;
  display: inline-block;
  position: relative;
  box-shadow: 0px 0px 0px 7px #fff, 0px 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.main .box-3 .container .row .col .rounded img {
  border-radius: 100%;
}
.main .box-3 .container .row .col p {
  font-size: 1em;
  margin-block-end: 2em;
}
.main .box-3 .container .row .col a {
  font-size: 1rem;
}

footer {
  padding-inline: 2em;
  padding-block-start: 6em;
  padding-block-end: 4em;
  margin-block-end: 2em;
}
footer .contact-icons {
  margin-block-end: 2em;
  text-align: center;
}
footer .contact-icons ul li {
  display: inline-block;
  padding-inline-end: 2em;
}
footer .contact-icons ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 4px #fff, 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
  width: 3em;
  height: 3em;
  line-height: 3em;
}
footer .contact-icons ul li a i {
  color: #000;
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bfbfbf;
  font-size: 0.9em;
}
footer .copyright a {
  color: #000;
  font-weight: 900 !important;
}