// Colors

$white: #fff;
$black: #000;
$info: #3498db;
$body-font-color: #999999;
$wrapper-bg: #fafafa;
$copyright-color: #bfbfbf;


// Spacing

$nav-padding-top: 1.5em;
$nav-padding-x: 1.25em;
$big-btn-padding-x: 1.5em;
$footer-padding-x: 2em;

// Font-sizes

$fs-logo: 1.25em;
$fs-banner-title: 4em;
$fs-desc: 1.75em;
$fs-big-btn: 1.35em;
$fs-box-3-title: 2.5em;
$fs-copyright: 0.9em;